<h1>Books</h1>

<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Opinion</th>
   <th></th>
  </tr>
 </thead>
 <% @books.each do |book| %>
 <tbody>
  <tr>
   <td class="a"><%= link_to "Title", "/books/#{book.id}" %></td>
   <td class="b"><%= book.body %></td>
  </tr>
 </tbody>

<% end %>
</table>

